<!DOCTYPE html>
<html>
<head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.title }}</title>

    {% include meta.html %}
    {% include css_js.html %}

    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.url }}/feed.xml"/>
</head>

<body>
{% include header.html %}
<div id="container">
    {% include links.html %}

    <div class="content">
        {{ content }}
    </div>

</div>
{% include footer.html %}
</body>
</html>